@model ASPLaboration.Regissör

@{
    ViewBag.Title = "Radera";
}

<h2>Radera</h2>

<h3>Är du säker på att du vill ta bort detta?</h3>
<div>
    <h4>Regissör</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Namn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Namn)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Radera" class="btn btn-default" /> |
            @Html.ActionLink("Gå tillbaka", "Index")
        </div>
    }
</div>
