
@{
    ViewBag.Title = "Index";
}

<h2>Välkommen till min filmsida!</h2>

<img src="~/Bilder/Django.jpg" alt="Django unchained" />

<br />
<br />

<h3>På denna sida kan du se mina favorit filmer och regissörer.</h3>
